# Ambientes Virtuais
venv/
.venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDEs e Editores
.idea/
.vscode/

# Banco de dados SQLite
*.sqlite3
db.sqlite3

# Arquivos de mídia e estáticos locais
media/
staticfiles/

# Variáveis de ambiente
.env

# Logs
*.log
